@page
@model TVRoom.Pages.UsersConfigModel
@{
    ViewData["Title"] = "Users - TV Room";
}

<div id="users-config"></div>

@section Styles {
    <link rel="stylesheet" vite-href="~/src/users-config.ts" asp-append-version="true" />
}

@section Scripts {
    <script type="module" vite-src="~/src/users-config.ts" asp-append-version="true"></script>
}
