@page
@model LivingRoom.Pages.ControlPanelModel
@{
    ViewData["Title"] = "Control Panel - Living Room";
}

<div id="control-panel"></div>

@section Styles {
    <link rel="stylesheet" vite-href="~/src/control-panel.js" asp-append-version="true" />
}

@section Scripts {
    <script type="module" vite-src="~/src/control-panel.js" asp-append-version="true"></script>
}
