@page
@using TVRoom.Broadcast
@model IndexModel
@{
    ViewData["Title"] = "Living Room";
}

<div class="main-video">
    @if (Model.CurrentBroadcast is BroadcastInfo info)
    {
        
        <video id="stream" class="video-js vjs-default-skin" controls>
            <source src="@Request.Scheme://@Request.Host/streams/@info.SessionId/master.m3u8" type="application/x-mpegURL" />
        </video>
    }
    else
    {
        <div class="nothing-playing">Nothing is playing right now. Check back later!</div>
    }
</div>


@section Styles {
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@silvermine/videojs-chromecast@1.5.0/dist/silvermine-videojs-chromecast.min.css">
    <style>
        .video-js .vjs-control-bar {
            height: 4em;
        }
        .vjs-button > .vjs-icon-placeholder::before {
            font-size: 2.5em;
        }

        .video-js .vjs-live-control,
        .video-js .vjs-volume-panel {
            align-items: center;
        }

        .video-js .vjs-live-control {
            margin-left: 1.5em;
        }

        .vjs-menu-button-popup .vjs-menu {
            bottom: 100%;
            margin-bottom: 0;
        }

        .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
            bottom: 0;
        }

        .vjs-chromecast-button .vjs-icon-placeholder {
            width: 24px;
            height: 24px;
        }

        .video-js .vjs-control.vjs-chromecast-button {
            display: flex;
            align-items: center;
        }
    </style>
}

@section Scripts {
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-landscape-fullscreen@@12.2.0/dist/videojs-landscape-fullscreen.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@silvermine/videojs-chromecast@1.5.0/dist/silvermine-videojs-chromecast.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
    <script>
        const videoElement = document.getElementById('stream');
        if (videoElement) {
            const options = {
                fluid: true, 
                techOrder: ["chromecast", "html5"], 
                plugins: { 
                    landscapeFullscreen: {
                        enterOnRotate: false,
                        exitOnRotate: false,
                        alwaysInLandscapeMode: true,
                    },
                    chromecast: {
                        receiverAppID: '9043DB46',
                        buttonPositionIndex: -4
                    }
                },
                chromecast: {
                    requestTitleFn: () => "@Model.CurrentBroadcast?.ChannelInfo.GuideName",
                    requestSubtitleFn: () => "@Model.CurrentBroadcast?.ChannelInfo.GuideNumber"
                }
            };

            const player = videojs(videoElement, options);
        }
    </script>
}